## This file must be named local.properties in the android/ directory
## It is generated automatically by Android Studio

# Path to your Android SDK installation
sdk.dir=/Users/YOUR_USERNAME/Library/Android/sdk

# On Windows:
# sdk.dir=C\:\\Users\\YOUR_USERNAME\\AppData\\Local\\Android\\Sdk

# On Linux:
# sdk.dir=/home/YOUR_USERNAME/Android/Sdk
